* {
    font-family: tahoma;
}

header {
    float: left;
    background-color: #519657;
    color: white;
    text-align: center;
    height: 150px;
}

.pierwszy {
    width: 70%;
}

.drugi {
    width: 30%;
}

aside, section {
    float: left;
    background-color: #e1e1e1;
    height: 450px;
}

aside {
    width: 25%;
}

.lewy {
    clear: both;
}

section {
    width: 50%;
    overflow: auto;
}

footer {
    background-color: #80c683;
    text-align: center;
}

img[src="./obraz2.jpg"] {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}

table {
    border: 1px solid #80c683;
}

td {
    padding: 2px;
}

tr:hover {
    background-color: #80c683;
}

tr:last-child {
    background-color: red;
}