* {
    font-family: cambria;
    text-align: center;
}

header, footer {
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}

nav {
    background-color: rgb(173, 20, 87);
    text-align: left;
}

.lewy {
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
    float: left;
}

.prway {
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
    float: left;
}

footer {
    clear: both;
}

img[src="./samochod.png"] {
    margin: 40px;
    padding: 10px;
}

img[src="./samochod.png"]:hover {
    border: dotted 1px yellowgreen;
}

a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: yellowgreen;
}

table, td {
    border: 1px solid olivedrab;
}

table {
    width: 90%;
}