.kontener {
    background-color: #fb8e02;
}

* {
    font-family: tahoma;
}

nav {
    float: left;
    background-color: #232323;
    width: 20%;
    height: 450px;
}

main {
    float: left;
    background-color: #aec6e6;
    width: 80%;
    height: 450px;
    overflow: scroll;
}

footer {
    clear: both;
    padding: 2px;
    text-align: right;
}

img {
    width: 100%;
}

h1 {
    padding: 50px;
    color: maroon;
}

ul {
    list-style: none;
}

li {
    background-color: #fb8e02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #232323;
    font-size: 110%;
}

li:hover {
    background-color: #b36501;
}