* {
    font-family: roboto, serif;
}

header {
    background-color: crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}

.pierwszy {
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin: 10px 50px 10px 50px;
    border: 1px solid crimson;
}

.pierwszy img {
    float: left;
    height: 100%;
}

div {
    background-color: snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: 1px solid crimson;
}

footer {
    background-color: crimson;
    color: white;
}

img {
    max-width: 100%;
}

h4 {
    font-size: 180%;
    text-align: center;
    color: crimson;
}

a {
    color: white;
}