* {
    font-family: cambria;
}

body {
    background-color: linen;
}

aside, header, footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}

aside {
    float: left;
    width: 25%;
    height: 510px;
    margin: 0 1% 0 1%;
    box-shadow: 4px 4px 5px dimgray;
}

header {
    float: left;
    width: 73%;
    height: 80px;
}

main {
    float: left;
    width: 73%;
    height: 400px;
}

button {
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}

button:hover {
    background-color: navy;
}

div {
    background-color: lightblue;
    margin-right: 80px;
    padding: 10px;
}

.hide {
    display: none;
}

.progress {
    float: left;
    background-color: lightgrey;
    width: 73%;
    margin-bottom: 10px;
}

.progress section {
    background-color: navy;
    width: 4%;
    height: 30px;
}

table {
    width: 100%;
    border: 1px dotted navy;
}

footer {
    clear: both;
}