* {
    font-family: helvetica;
}

header, footer {
    background-color: sienna;
    color: white;
    padding: 10px;
    text-align: center;
}

aside {
    float: left;
    background-color: navajowhite;
    width: 15%;
    height: 700px;
}

section {
    float: left;
    width: 70%;
    height: 700px;
    overflow: scroll;
}

img {
    width: 100%;
    transition: opacity 0.5s ease;
}

div {
    float: left;
    width: 46%;
    margin: 2%;
    position: relative;
}

h3, p, a {
    opacity: 0;
    position: absolute;
}

h3 {
    top: 5%;
}

p {
    top: 30%;
}

a {
    top: 70%;
    left: 70%;
    background-color: sienna;
    padding: 15px;
}

div:hover img {
    opacity: 0.5;
}

div:hover h3, div:hover p, div:hover a {
    opacity: 1;
}