body {
    font-family: bookman, serif;
}

header, footer {
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

.napis {
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

aside {
    float: left;
    background-color: lavender;
    height: 500px;
}

.lewy {
    width: 25%;
}

.prawy {
    width: 35%;
}

.srodek {
    float: left;
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}

img {
    float: right;
    width: 50%;
    padding: 10px;
}

p {
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form {
    margin: 30px;
}

table, td {
    border-collapse: collapse;
    border: 1px solid indigo;
}

td, th {
    padding: 3px;
}

footer {
    clear: both;
}